/*FOOTER*/

.heading--texto-footer { /* TEXTO COM OS NOMES DOS PAISES */
    color: #fff;
}

.paragraph--texto-footer {  /* TEXTO COM OS ENDEREÇOS DOS ESCRITORIOS */
    color: #fff;
    font-family: Circular Std Medium, sans-serif;
    font-size: .8rem;
    margin-top: 1rem;
    max-width: 16rem

}

.heading--texto-seguir { /* TEXTO SIGA A GENTE */
    color: #fff;
}

.paragraph--texto-direitos { /* TEXTO DIREITOS RESERVADOS*/
    color: #fff;
}

